# env / secrets
.env
.env.*
!.env.example
*.pem
*.key
*.crt
*.p12
*.pfx
application_default_credentials.json

# logs
*.log

# node
node_modules/
dist/
build/

# local IDE/system
.vscode/
.DS_Store
Thumbs.db